a img {
	border: none;
}

#carousel-header {
	border-bottom: 1px solid #fff;
	width: 100%;
	height: 44px;
	background: url(../images/headerbackground.jpg) no-repeat center #1d191a;
	position: absolute;
	top: 0px;
	z-index: 100;
}

#carousel-header .carousel-header-content {
	margin: 0 auto;
	width: 840px;
}

#carousel-header li {
	float: left;
	display: inline;
	margin-right: 10px;
	background: url(../images/carousel/hdr-arrow.png) no-repeat left center;
	padding-left: 16px;
}

#carousel-header li.msg {
	padding-left: 0;
	margin-top: 7px;
}


#carousel-header a {
	height: 44px;
	display: block;
}

#carousel-header a span {
	display: none;
}

#carousel-header a#bluray {
	background: url(../images/carousel/hdr-bluray.png) no-repeat 0 0;
	width: 120px;
}

#carousel-header a#dvd {
	background: url(../images/carousel/hdr-dvd.png) no-repeat 0 0;
	width: 70px;
}

#carousel-header a#download {
	background: url(../images/carousel/hdr-download.png) no-repeat 0 0;
	width: 247px;
}

#carousel-content {
	visibility: hidden;
	position: absolute;
	left: 0;
	right: 0;
	margin: 20px auto;
	z-index: 1800;
	background-color: #000;
	width: 907px;
	height: 704px;
	background: url(../images/Waltdisney.jpg) #000;
	border: 2px solid #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}

#carousel-header a,
#carousel-content a {
	text-decoration: none;
}

.carousel-overlay {
	z-index: -1;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0;
	background: #000;
	opacity: 0;
	height: 100%;
}



#carousel0,
#carousel1,
#carousel2 {
	width: 681px;
	height:275px;
	margin: 0 auto;
	opacity: 1;
	overflow:none;
	z-index: 200;
	display: none;
	padding: 0;
	left: 0;
	list-style-type: none;
}

#carousel2 {
	left: 30px;
}

#carousel0 {
	overflow: hidden;
}

#carousel-content .carousel li {
	float: left;
	display: inline;
	margin: 0 51px 33px 0;
}

.close-carousel {
	position: absolute;
	right: 10px;
	top: 10px;
}	

.close-carousel a {
	font-weight: bold;
	font-size: 24px;
	color: #fff;
}

#hdr {
	margin: 65px auto 100px;
	width: 810px;
}


@media all and (max-device-width: 480px) {	
	#carousel-header {
		-webkit-transform-origin: left top;
		-webkit-transform: scale(.6);
		width: 1000px;
	}

	.carousel-overlay {
		width: 1000px;
		height: 700px;
	}
	

	


}

@media all and (max-device-width: 480px) {
	#carousel-header {
		width: 1000px;
	}
}

@media all and (max-device-width: 480px) and (orientation:landscape)  {	
	#carousel-content {
		margin: 10px auto;
	}


	#carousel1,
	#carousel2{
		-webkit-transform-origin: left top;
		-webkit-transform: scale(.6);
		margin-left: 10px;
	}
}

@media all and (max-device-width: 480px) and (orientation:portrait)  {	
	#carousel-content {
		margin: 80px auto;
	}
	
	#carousel1,
	#carousel2{
		-webkit-transform-origin: left top;
		-webkit-transform: scale(.4);
		margin-left: 10px;
	}
}