
#header-custom {
    

}

.header-custom {
width: 100%;
height: 100%
}

.slider {

}

.header-img {
width: 100%;
height: 100%;
    
filter: brightness(30%);
-webkit-filter: brightness(30%);
-moz-filter: brightness(30%);
-o-filter: brightness(30%);
-ms-filter: brightness(30%);
}

.header-text {
position: absolute;
top:100px;
left: 200px;
z-index: 1;
font-size: 60px;
color: #E74C3C;
font-family: Verdana, Arial, Helvetica, sans-serif

}
#header-li {
    margin-left:50%;
position: absolute;
top:300px;
left:100px;
z-index: 1;
font-size:60px;
color:#fff;

font-family: Verdana, Arial, Helvetica, sans-serif;

    

}

.header-title{
position: absolute;
top:400px;
left: 200px;
z-index: 1;
font-size: 200px;
color: #fff;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-transform: uppercase;
}
   
   

.container {
width: 1100px;
margin-left: 50px;
}
a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #fff;
    border-bottom:#f16529 15px solid;

a:active {
    text-decoration: underline;
}
.dec{
    color:  #f16529;
}


}
i.hover{
    background-color: blue;
    cursor: pointer;
}
    

.book {
font-size:60px;
color:#E74C3C ;
  font-style: oblique;
}

.about
{
    margin-top: 70px;

width: 100%;
    filter: brightness(30%);
-webkit-filter: brightness(30%);
-moz-filter: brightness(30%);
-o-filter: brightness(30%);
-ms-filter: brightness(30%);
background:#111118;
}


.event {
width: 1200px;
margin-left: 500px;
color: #fff;
font-size: 60px;
margin-top: 70px;


}
.e
{
    
}.notice-event {

background:#29292C ;
width: 3300px;
}

.date {
color: #FFF;
}

.cont {
    margin-left: 100px;
    
}

.event-head {
text-align: right;
margin-right: 100px;
 
}

.tickets {
width:300px;
    background:#E74C3C;
    color:#fff;
    height:55px;
    
         height: 400px;
         margin-top:  70px;
}

.portfolio {
background-image: url("../img/background.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 700px;
width: 100%;
filter: brightness(20%);
-webkit-filter: brightness(20%);
-moz-filter: brightness(20%);
-o-filter: brightness(20%);
-ms-filter: brightness(20%);

}


.portfolio-text {
text-align: center;
font-size:  200px;
color: #FFF;
margin-bottom: 10px;
vertical-align: middle;
}

.blog {

}
