html { 
  background: url(../images/finest_hours.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*css 3 animations*/
@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

html  { 
    /*width: 560px; */
    /*height: 400px; */
    /*background-image: url(../images/finest_hours.jpg);*/
    /*background-position: 0px 0px;*/*/
    /*background-repeat: repeat-x;*/

    animation: animatedBackground 40s linear infinite;
}