* { outline: none; margin: 0px; padding: 0px; }

html {
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
    margin: 0px;
    padding: 0px;
    background: #000000;
    color: #FFF;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul {
    list-style: none;
}

a {
    text-decoration:none;
}

#audioHolder{
    position: absolute;
    top: -100px;
    left: -100px;
    height: 10px;
    width: 10px;
}
